html {
  background-color: #ff6347;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  height: 230px;
  width: 230px;
  background-color: #f5deb3;
}
div {
  border: 2px solid white;
  height: 50px;
  width: 50px;
}

.row {
  background-color: #008080;
}

.dashed {
  border: 2px dashed white;
  width: 190px;
}
